.CameraContainer {
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
}
.tableContainer {
  width: 96.5%;
  max-height: 55vh;
  overflow-y: scroll;
  margin: 20px auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.tableContainer table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}
.tableHeader {
  text-align: center;
  height: 60px;
  position: sticky;
  top: 0px;
  background: #e1e1e1;

  z-index: 2;
}
.tableHeader th {
  padding-left: 5px;
}
.tableHeader th td:first-child {
  padding-left: 20px;
  text-align: left;
}
tr {
  height: 60px;
  text-align: center;
}
.tableHeader tr th {
  width: 14%;
  text-transform: uppercase;
}
