@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.camera-table {
  max-width: 800px;
  margin: auto;
}

.search-input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
}

button.active {
  background-color: #f0f0f0;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}
